## MP Phase 1

**S11 - Group x**

**Submitted By:** <br>
&nbsp;&nbsp;&nbsp;&nbsp;**Chua Ching, Janine**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Ileto, Maxine**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Dytoc, Ayisha**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Tan, Jared**

# Introduction

## Target Task

# Dataset Description

## Brief Description

## Data Collection Process

## Dataset Features

## Dataset Variables

The dataset contains a total of 22 variables (columns). The following are the descriptions of each variable in the dataset:

- **`#`**: the index number of the player of when they were added into the dataset

# List of requirements

List all python libraries and modules used

In [ ]:
# Python Libraries
import numpy as np
import pandas as pd

# Data preprocessing and cleaning

Check csmodel file for examples

Below is a sample of the first 5 rows of the dataset

In [3]:
df = pd.read_csv('sports.csv')
df.head()

,uuid,current_minute,home_score,away_score,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards,home_attacks,away_attacks,...,away_dangerous_attacks,home_corners,away_corners,home_off_target,away_off_target,home_on_target,away_on_target,home_possession,away_possession,final_delta
0,2f9dd904-8d9d-4aa0-a9d9-4e0f3e50d742,94,1,2,0,0,0,0,39,45,...,26,4,1,4,0,4,6,48,52,1
1,869c1420-9153-4d73-8d79-5db31a8a80a4,91,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,50,50,1
2,549e25a3-4c93-459d-b115-fb303273c78a,3,0,0,0,0,0,0,3,1,...,0,0,0,0,0,0,0,62,38,4
3,287b4be5-9163-4e2e-895d-d11052a97410,17,0,0,1,0,0,0,41,46,...,25,1,0,0,2,0,0,55,45,2
4,a607da6a-d6b2-4652-b7a5-6c8e4b61c2b8,76,1,0,1,0,0,0,69,78,...,46,1,1,0,3,4,4,45,55,0

Check if any missing values

In [4]:
df.isnull().any()

uuid                      False
current_minute            False
home_score                False
away_score                False
home_yellow_cards         False
away_yellow_cards         False
home_red_cards            False
away_red_cards            False
home_attacks              False
away_attacks              False
home_dangerous_attacks    False
away_dangerous_attacks    False
home_corners              False
away_corners              False
home_off_target           False
away_off_target           False
home_on_target            False
away_on_target            False
home_possession           False
away_possession           False
final_delta               False
dtype: bool

Verify data type

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uuid                    7000 non-null   object
 1   current_minute          7000 non-null   int64
 2   home_score              7000 non-null   int64
 3   away_score              7000 non-null   int64
 4   home_yellow_cards       7000 non-null   int64
 5   away_yellow_cards       7000 non-null   int64
 6   home_red_cards          7000 non-null   int64
 7   away_red_cards          7000 non-null   int64
 8   home_attacks            7000 non-null   int64
 9   away_attacks            7000 non-null   int64
 10  home_dangerous_attacks  7000 non-null   int64
 11  away_dangerous_attacks  7000 non-null   int64
 12  home_corners            7000 non-null   int64
 13  away_corners            7000 non-null   int64
 14  home_off_target         7000 non-null   int64
 15  away_off_target         7000 non-null   int64
 16  home_on_target          7000 non-null   int64
 17  away_on_target          7000 non-null   int64
 18  home_possession         7000 non-null   int64
 19  away_possession         7000 non-null   int64
 20  final_delta             7000 non-null   int64
dtypes: int64(20), object(1)
memory usage: 1.1+ MB

Check if there are any default values for integer values

In [9]:
df_integer_variables = df.drop('uuid',axis=1)
df_integer_variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   current_minute          7000 non-null   int64
 1   home_score              7000 non-null   int64
 2   away_score              7000 non-null   int64
 3   home_yellow_cards       7000 non-null   int64
 4   away_yellow_cards       7000 non-null   int64
 5   home_red_cards          7000 non-null   int64
 6   away_red_cards          7000 non-null   int64
 7   home_attacks            7000 non-null   int64
 8   away_attacks            7000 non-null   int64
 9   home_dangerous_attacks  7000 non-null   int64
 10  away_dangerous_attacks  7000 non-null   int64
 11  home_corners            7000 non-null   int64
 12  away_corners            7000 non-null   int64
 13  home_off_target         7000 non-null   int64
 14  away_off_target         7000 non-null   int64
 15  home_on_target          7000 non-null   int64
 16  away_on_target          7000 non-null   int64
 17  home_possession         7000 non-null   int64
 18  away_possession         7000 non-null   int64
 19  final_delta             7000 non-null   int64
dtypes: int64(20)
memory usage: 1.1 MB

do this by checking if any negative values

# Exploratory Data Analysis

# Model training

# Hyperparameter tuning

# Model selection

# Insights and conclusions

# Bibliography