## MP Phase 1

**S11 - Group x**

**Submitted By:** <br>
&nbsp;&nbsp;&nbsp;&nbsp;**Chua Ching, Janine**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Ileto, Maxine**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Dytoc, Ayisha**<br>
&nbsp;&nbsp;&nbsp;&nbsp;**Tan, Jared**

# Introduction

## Target Task

# Dataset Description

## Brief Description

## Data Collection Process

## Dataset Features

## Dataset Variables

The dataset contains a total of 20 variables (columns). The following are the descriptions of each variable in the dataset:

- **`uuid`**: The unique identifier of the snapshot
- **`current_minute`**: The current minute of the in-play match. Important: the 15 min half-time break is included, so a match will have a total of 105 min. A current_minute of 70 corresponds to the actual match time of 55.
- **`home_score`**: Goals scored by the home team as of this current_minute
- **`away_score`**:  Goals scored by the away team as of this current_minute
- **`home_yellow_cards`**: Yellow cards given to the home team as of this current_minute
- **`away_yellow_cards`**: Yellow cards given to the away team as of this current_minute
- **`home_red_cards`**: Red cards given to the home team as of this current_minute
- **`away_red_cards`**: Red cards given to the away team as of this current_minute
- **`home_attacks`**: Attacks attempted by the home team as of this current_minute
- **`away_attacks`**: Attacks attempted by the away team as of this current_minute
- **`home_dangerous_attacks`**: Dangerous attacks attempted by the home team as of this current_minute
- **`away_dangerous_attacks`**: Dangerous attacks attempted by the away team as of this current_minute
- **`home_corners`**: Corners awarded to the home team as of this current_minute
- **`away_corners`**: Corners awarded to the away team as of this current_minute
- **`home_off_target`**: Shots that didn't have to be cleared by the goalkeeper that were 
attempted to the home team as of this current_minute
- **`away_off_target`**: Shots that didn't have to be cleared by the goalkeeper that were 
attempted to the away team as of this current_minute
- **`home_on_target`**:  Shots that had to be cleared by the goalkeeper that were attempted to 
the home team as of this current_minute
- **`away_on_target`**: Shots that had to be cleared by the goalkeeper that were attempted to 
the away team as of this current_minute
- **`home_possession`**: How much ball possession in % did the home team have until this 
current_minute
- **`away_possession`**: The unique identifier of the snapshot

# List of requirements

List all python libraries and modules used

In [1]:
# Python Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data preprocessing and cleaning

The data used in this project is stored in the `sports.csv` file. This data will be stored in a variable called `df`

Below is a sample of the first 5 rows of the dataset.

In [2]:
df = pd.read_csv('sports.csv')
df.head()

,uuid,current_minute,home_score,away_score,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards,home_attacks,away_attacks,...,away_dangerous_attacks,home_corners,away_corners,home_off_target,away_off_target,home_on_target,away_on_target,home_possession,away_possession,final_delta
0,2f9dd904-8d9d-4aa0-a9d9-4e0f3e50d742,94,1,2,0,0,0,0,39,45,...,26,4,1,4,0,4,6,48,52,1
1,869c1420-9153-4d73-8d79-5db31a8a80a4,91,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,50,50,1
2,549e25a3-4c93-459d-b115-fb303273c78a,3,0,0,0,0,0,0,3,1,...,0,0,0,0,0,0,0,62,38,4
3,287b4be5-9163-4e2e-895d-d11052a97410,17,0,0,1,0,0,0,41,46,...,25,1,0,0,2,0,0,55,45,2
4,a607da6a-d6b2-4652-b7a5-6c8e4b61c2b8,76,1,0,1,0,0,0,69,78,...,46,1,1,0,3,4,4,45,55,0

Given that we will only be using the specific features in the data, we will extract only the features that are relevant to the project. The following features will be extracted and pre-processed: 
- **`current_minute`**
- **`home_score`**
- **`away_score`**
- **`home_attacks`**
- **`away_attacks`**
- **`home_dangerous_attacks`**
- **`away_dangerous_attacks`**
- **`home_on_target`**
- **`away_on_target`**

In [3]:
df = df[["current_minute","home_score", 'away_score', 'home_attacks','away_attacks','home_dangerous_attacks','away_dangerous_attacks','home_on_target','away_on_target']]
df.head()

,current_minute,home_score,away_score,home_attacks,away_attacks,home_dangerous_attacks,away_dangerous_attacks,home_on_target,away_on_target
0,94,1,2,39,45,29,26,4,6
1,91,2,0,0,0,0,0,0,0
2,3,0,0,3,1,1,0,0,0
3,17,0,0,41,46,11,25,0,0
4,76,1,0,69,78,21,46,4,4

We will now begin cleaning the data.

First, we will check if there are any null or missing values.

In [4]:
df.isnull().any()

current_minute            False
home_score                False
away_score                False
home_attacks              False
away_attacks              False
home_dangerous_attacks    False
away_dangerous_attacks    False
home_on_target            False
away_on_target            False
dtype: bool

Based on the output above, we can see that they are all `False`, indicating that there are no null or missing values.

We will next check if the data types of the variables are consistent.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   current_minute          7000 non-null   int64
 1   home_score              7000 non-null   int64
 2   away_score              7000 non-null   int64
 3   home_attacks            7000 non-null   int64
 4   away_attacks            7000 non-null   int64
 5   home_dangerous_attacks  7000 non-null   int64
 6   away_dangerous_attacks  7000 non-null   int64
 7   home_on_target          7000 non-null   int64
 8   away_on_target          7000 non-null   int64
dtypes: int64(9)
memory usage: 492.3 KB

Based on the output, we can see that all items in the data are non-null and have the integer data type.

We will now check if there are any default values within the data, which can be indicated by values that go beyond the data range (ex. below the minimum values or above the maximum)

In [6]:
df.describe()

,current_minute,home_score,away_score,home_attacks,away_attacks,home_dangerous_attacks,away_dangerous_attacks,home_on_target,away_on_target
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,59.491571,0.796000,0.623143,46.365429,43.325143,27.611429,24.201286,2.172143,1.796000
std,35.827892,1.070503,0.923248,36.004908,33.428276,22.977844,20.457007,2.320374,2.026002
min,-348.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,0.000000,0.000000,15.000000,14.000000,8.000000,7.000000,0.000000,0.000000
50%,70.000000,0.000000,0.000000,43.000000,41.000000,25.000000,21.000000,2.000000,1.000000
75%,88.000000,1.000000,1.000000,71.000000,67.000000,42.000000,36.000000,3.000000,3.000000
max,583.000000,8.000000,9.000000,255.000000,183.000000,134.000000,140.000000,22.000000,19.000000

Based on the output above, we can note the following:
- The minimum value of **`current_minute`** is a negative value, while the maximum value goes beyond the total match time. 
- The minimum and maximum values of the remaining features are within the proper range.

Since for this project we will be predicting whether the home team is winning or losing, we would ideally want the match to have sufficient data to be able to accurately predict this. If the match has barely begun, there might not be enough data to create an accurate prediction, and this may also skew the training data.

With this, we will only use the match data for games that are either from the break time (eg. the middle of the game) or in the game's second half.

In [7]:
df = df[ df['current_minute'] >= 45 ]
df = df[ df['current_minute'] <= 105 ]
df['current_minute'].describe()

count    4112.000000
mean       82.137889
std        14.433778
min        45.000000
25%        73.000000
50%        83.000000
75%        94.000000
max       105.000000
Name: current_minute, dtype: float64

In [8]:
len(df)

4112

As shown, the values for **`current_minute`** are now within the appropriate time range.

This now leaves us with 4112 items in the dataset.

We will now drop any duplicated data.

In [9]:
df.drop_duplicates()
len(df)

4112

The number of rows in the dataset did not change, indicating that there were no duplicates.

Lastly, since we are only checking whether or not the home team is winning, we will remove any draw games from the dataset. This is indicated by games where the number of points of the home and away team are equal.

In [10]:
df = df[ (df['home_score'] != df['away_score']) ]
len(df)

2824

This now leaves us with 2824 items in the dataset.

With the data cleaned, we will now create columns for the extra features that will be used in this project. Since we will need to determine whether or not the home team is winning, we can create an extra variable named **`home_is_winning`**, which will be a boolean variable of whether or not the home team's score is higher than the away team's.

As shown in the dataset, a majority of the variables come in pairs, with one corresponding to the home team and the other to the away team. For the remaining features used, we will merge these pairs into a single feature, denoted by the difference of the home team's statistic and the away team's statistic. This will be done to simplify the features used into a single variable, which can make the modelling process easier to perform.

Below is an explanation of the extra features that will be added:
- **`attacks_difference`**: Solved by subtracting `away_attacks` from `home_attacks`
- **`attacks_dangerous_difference`**: Solved by subtracting `away_dangerous_attacks` from `home_dangerous_attacks`
- **`on_target_difference`**: Solved by subtracting `away_on_target` from `home_on_target`

In [11]:
# Add home_is_winning feature
create_new_column = lambda row: True if (row["home_score"] > row["away_score"]) else False
added_column = df.apply(create_new_column, axis=1)
df["home_is_winning"] = added_column

# Add attacks_difference feature
create_new_column = lambda row: row["away_attacks"] - row["home_attacks"]
added_column = df.apply(create_new_column, axis=1)
df["attacks_difference"] = added_column

# Add attacks_dangerous_difference feature
create_new_column = lambda row: row["home_dangerous_attacks"] - row["away_dangerous_attacks"]
added_column = df.apply(create_new_column, axis=1)
df["attacks_dangerous_difference"] = added_column

# Add on_target_difference feature
create_new_column = lambda row: row["home_on_target"] - row["away_on_target"]
added_column = df.apply(create_new_column, axis=1)
df["on_target_difference"] = added_column

df.head()

,current_minute,home_score,away_score,home_attacks,away_attacks,home_dangerous_attacks,away_dangerous_attacks,home_on_target,away_on_target,home_is_winning,attacks_difference,attacks_dangerous_difference,on_target_difference
0,94,1,2,39,45,29,26,4,6,False,6,3,-2
1,91,2,0,0,0,0,0,0,0,True,0,0,0
4,76,1,0,69,78,21,46,4,4,True,9,-25,0
5,92,2,0,87,72,40,35,3,3,True,-15,5,0
8,68,0,2,27,41,20,31,1,4,False,14,-11,-3

We will now remove the unused features that we merged.

In [12]:
df = df[['current_minute','home_is_winning','attacks_difference','attacks_dangerous_difference','on_target_difference']]
df.head()

,current_minute,home_is_winning,attacks_difference,attacks_dangerous_difference,on_target_difference
0,94,False,6,3,-2
1,91,True,0,0,0
4,76,True,9,-25,0
5,92,True,-15,5,0
8,68,False,14,-11,-3

We will now normalize the numerical data used in the dataset.

In [13]:
columns_to_normalize = ['attacks_difference','attacks_dangerous_difference','on_target_difference']
df[columns_to_normalize] = df[columns_to_normalize].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df.head()

,current_minute,home_is_winning,attacks_difference,attacks_dangerous_difference,on_target_difference
0,94,False,0.539749,0.461538,0.484848
1,91,True,0.514644,0.443787,0.545455
4,76,True,0.552301,0.295858,0.545455
5,92,True,0.451883,0.473373,0.545455
8,68,False,0.573222,0.378698,0.454545

# Exploratory Data Analysis

What is the distribution of the current minutes?

In [ ]:
minutes_df = df[["uuid", "current_minute"]]
minutes_df.hist("current_minute", bins=50, edgecolor='w', figsize=(10,6))
plt.show()

# Model training

# Hyperparameter tuning

# Model selection

# Insights and conclusions

# Bibliography